.regModel {
    width: 350px;
    height: 450px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.regModel > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: start;
}

.regModel__btn {
    padding: 8px 15px; 
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

.regModel__input {
    margin: 30px 0 0 0;
    padding: 8px 15px;
    width: 80%;
    border-radius: 5px;
    outline: none;
}

.regModel__input::placeholder {
    padding: 5px 0;
}

.passwordBox {
    width: 80%;
    text-align: start;
}

.passwordBox > input {
    width: 100%;
}

.passwordBox > p {
    margin-top: 7px;
    color: #b5b5b5;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

.text {
    color: #b5b5b5;
    margin-top: 10px;
}